.vscode
**/NHDPlus
**/us_shapefile
**/nwm_drought_indicator_output
**/__pycache__
**/nwm_oper_data*
**/nwm_retro_data*
**/workspace
/gis_mess
/nwm_drought_volume/streamflow_ids.npy
/current_method1
.env
/compare
nwm-drought.conf
arts_retro_timeseries_for_bbox