# fly.toml app configuration file generated for nwm-drought on 2024-07-30T10:33:45-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nwm-drought'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '6gb'
  cpu_kind = 'performance'
  cpus = 1

[env]
  CF_ACCOUNT_ID = '37af3c839010fdd20c8856fda97a5d85'
  R2_BUCKET_NAME = 'nwm-drought'
  S3_BUCKET_NAME = 'nedews.nrcc.cornell.edu'
  S3_PREFIX = 'NWM_maps_v2'
  MPLCONFIGDIR = '/nwm_drought_volume/.config/matplotlib'

[[mounts]]
  source = 'nwm_drought_volume'
  destination = '/nwm_drought_volume'